#afui header {
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flex !important;
  display: -o-flex !important;
  display: flex !important;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#afui header#defaultHeader {
  display: none !important;
}
#afui header input {
  height: 32px;
  padding: 6px;
  font-size: 13px;
}
#afui header > .horiz-area {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  pointer-events: none;
  z-index: 1;
}
#afui header > .horiz-area > * {
  pointer-events: auto;
}
#afui header > h1 {
  text-align: center !important;
}
#afui header > .header-left {
  float: left;
}
#afui header > .header-right {
  float: right;
}
#afui header > .single-centered {
  position: absolute;
  width: 100%;
  text-align: center;
}
#afui header > .single-centered > * {
  z-index: 1;
  margin-left: auto !important;
  margin-right: auto !important;
}
#afui header > .with-back > :not(#backButton) {
  display: none;
}
.left-receptacle {
  float: left;
}
.right-receptacle {
  float: right;
}
.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media all {
  #afui .wrapping-col > .d-margins,
  #afui .wrapping-col > .afScrollPanel > .d-margins {
    margin-left: 6px;
    margin-right: 6px;
  }
  #afui .wrapping-col > .d-margins,
  #afui .wrapping-col > .afScrollPanel > .d-margins {
    margin-left: 6px;
    margin-right: 6px;
  }
  #afui .d-margins {
    margin-bottom: 10px;
  }
}
